.Notes {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;

  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &__search {
    padding: 0 10px;
    height: 50px;
  }

  &__entries {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
  }

  &__sort {
    background: darkgray;
    cursor: pointer;
    position: relative;

    &:hover {
      background: gray;

      .Notes__sort__points {
        display: flex;
      }
    }

    &__points {
      display: none;
      position: absolute;
      flex-direction: column;
      width: 176px;
      left: 0;
      top: 0;
    }
  }
}
